/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200;300&display=swap');/* common */

/* common */

* {
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Nunito', sans-serif;
}

.container {
    background-color: rgb(22, 21, 21);
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

li {
    list-style-type: disc;
    margin: 0 20px;
}

h1, h2 {
    font-weight: 900;
    font-size: 30px;
    margin: 10px 0;
}

p, li {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
    margin: 10px 0;
}

img {
    width: 100%;
}

/* array info section */

.img1, .a1, .a2, .a3 {
    display: block;
    margin: 0 auto;
}

.img1 {
    width: 100% ;
}

.a1, .a2{
    width: 40% ;
}

.a3 {
    width: 35% ;
}

/* linked list info section */

.l1, .l2, .l3, .l4, .l5, .l6, .l7 {
    display: block;
    margin: 0 auto;
}

.l1 {
    width: 90% ;
}

.l2 {
    width: 65% ;
}

.l3 {
    width: 70% ;
}

.l4, .l5, .l6, .l7 {
    width: 50%;
}

/* stack info section */

.s1 {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* queue info section */

.q1, .q2, .q3, .q4, .q5 {
    display: block;
    margin: 0 auto;
}

.q1 {
    width: 80%;
}

.q2 { 
    width: 35%;
}

.q3, .q4, .q5 { 
    width: 50%;
}

/* tree info section */
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
    display: block;
    margin: 0 auto;
}

.t2 {
    width: 70%;
}

.t3, .t4, .t5, .t6, .t7, .t8 {
    width: 50%;
}


/* graph info section */

.g1, .g2, .g3, .g4, .g5, .g6 {
    display: block;
    margin: 0 auto;
}

.g1 {
    width: 100%;
}

.g2, .g3, .g4, .g5, .g6 {
    width: 55%;
}


/* id */
#container {
    border: 0.5px solid white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    }



/* tablet */

@media only screen and (max-width: 900px) {
    h1, h2 {
        font-size: 23px;
    }
    p, li {
        font-size: 20px;
    }
    .arrayinfo .grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .linkinfo .grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .stackinfo .grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .treeinfo .grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .graphinfo .grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

/* mobile */

@media only screen and (max-width: 550px) {
    h1, h2 {
        font-size: 18px;
    }
    p, li {
        font-size: 15px;
        padding: 0;
    }
}