@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav__bar {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-logo {
    margin-right: auto;
}

a {
    text-decoration: none;
}

.nav-ele {
    color: black;
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}

.nav-ele:hover {
    background-color: black;
    color: white;
    transform: translateY(-3px);
}

.nav-logo {
    width: 2rem;
}

.dropdown {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    position: relative;
}

.dropdown:hover {
    background-color: black;
    color: white;
}

.drop-ele {
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px 0 12px 12px;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: 2.3rem;
    width: 25rem;
    z-index: 2;
}

.dropdown:hover .drop-ele {
    display: flex;
}

.drop-ele a {
    color: white;
    margin: 0.3rem;
    width: 100%;
    transition: all ease-in-out 0.3s;
}

.drop-ele a:hover {
    color: #646FD4;
    transform: translateY(-0.2rem);
}